fastapi==0.112.2
uvicorn[standard]==0.30.6
pydantic==2.9.2
SQLAlchemy==2.0.34
passlib[bcrypt]==1.7.4
python-jose==3.3.0
python-multipart==0.0.9
geopy==2.4.1
email-validator==2.2.0
openai==1.12.0
httpx==0.26.0
